body {
    background-color: #525c5a;
}

.secao {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
  }

  h1 {
    text-align: center;
    color: #bade57;
    font-family: 'Montserrat';
  }

  nav {
    text-align: center;
  }

  a {
    text-decoration-line: none;
    padding: 20px;
    font-size: 25px;
    color: #8ccc81;
  }